{{- $baseURL := urls.Parse .Site.BaseURL -}}
{{- $page := . -}}
{{- $languageTarget := "" -}}
{{- $languageLabel := "" -}}
{{- range .Translations -}}
  {{- $languageTarget = .RelPermalink -}}
  {{- $languageLabel = default .Language.Lang .Language.Label -}}
{{- end -}}
{{- if not $languageTarget -}}
  {{- range .Site.Home.Translations -}}
    {{- $languageTarget = .RelPermalink -}}
    {{- $languageLabel = default .Language.Lang .Language.Label -}}
  {{- end -}}
{{- end -}}

<nav class="td-navbar js-navbar-scroll">
  <div class="td-navbar-container container-fluid flex-column flex-md-row">
    <a class="navbar-brand" href="{{ .Site.Home.RelPermalink }}" aria-label="Silo home">
      <span class="navbar-brand__logo navbar-logo">
        <img src="{{ "img/silo.svg" | relURL }}" alt="" width="32" height="32">
      </span>
      <span class="navbar-brand__name">SILO</span>
    </a>

    <div class="td-navbar-nav-scroll td-navbar-nav-scroll--indicator" id="main_navbar">
      <div class="scroll-indicator scroll-left"></div>
      <ul class="navbar-nav">
        {{- range .Site.Menus.main -}}
          {{- if ne .Identifier "github" -}}
            {{- $target := urls.Parse .URL -}}
            {{- $isExternal := and $target.Host (ne $baseURL.Host $target.Host) -}}
            {{- $active := or ($page.IsMenuCurrent "main" .) ($page.HasMenuCurrent "main" .) -}}
            {{- if and (eq .Identifier "docs") (eq $page.Type "docs") -}}
              {{- $active = true -}}
            {{- else if and (eq .Identifier "blog") (eq $page.Type "blog") -}}
              {{- $active = true -}}
            {{- end -}}
            {{- $href := .URL -}}
            {{- if not $isExternal -}}
              {{- $href = .URL | relLangURL -}}
            {{- end -}}
            {{- with .Page -}}
              {{- $active = or $active ($page.IsDescendant .) -}}
              {{- $href = .RelPermalink -}}
            {{- end -}}
            <li class="nav-item">
              <a class="nav-link{{ if $active }} active{{ end }}" href="{{ $href }}"{{ if $isExternal }} target="_blank" rel="noopener noreferrer"{{ end }}>
                <span>{{ .Name }}</span>
              </a>
            </li>
          {{- end -}}
        {{- end -}}

        {{- $darkMode := partialCached "dark-mode-config.html" "dark-mode-global" -}}
        {{- if $darkMode.showMenu -}}
          <li class="nav-item td-navbar__light-dark-menu">
            {{ partial "theme-toggler.html" . }}
          </li>
        {{- end -}}

        {{- if $languageTarget -}}
          <li class="nav-item td-navbar__lang-menu">
            <a class="nav-link silo-navbar-util" href="{{ $languageTarget }}" title="{{ $languageLabel }}" aria-label="{{ $languageLabel }}">
              <i class="fa-solid fa-language" aria-hidden="true"></i>
            </a>
          </li>
        {{- end -}}

        <li class="nav-item">
          <a class="nav-link silo-navbar-util silo-navbar-github" href="{{ .Site.Params.github_project_repo }}" target="_blank" rel="noopener noreferrer" title="GitHub" aria-label="GitHub">
            <i class="fa-brands fa-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
      <div class="scroll-indicator scroll-right"></div>
    </div>

    <div class="d-none d-lg-block td-navbar__search">
      {{ partial "search-input.html" . }}
    </div>
  </div>
</nav>
