{{- /* 右栏标签云：仅 blog 语境渲染。可折叠区块（默认展开，复用树的
       checkbox/chevron/grid-rows 动画机制），chips 按文章数降序。 */ -}}
{{- if eq .Type "blog" -}}
{{- $tags := .Site.Taxonomies.tags -}}
{{- if gt (len $tags) 0 -}}
<div class="silo-tags-cloud">
  <input type="checkbox" class="silo-tree__state" id="silo-tags-toggle" checked>
  <label class="silo-tree__row silo-tags-cloud__head" for="silo-tags-toggle">
    <span class="silo-tags-cloud__title">{{ T "silo_tags_title" }}</span>
    <span class="silo-tree__chevron" aria-hidden="true">
      {{- partialCached "silo/icon.html" "chevron-down" "chevron-down" -}}
    </span>
  </label>
  <div class="silo-tree__children">
    <div class="silo-tree__children-inner">
      <div class="silo-tags-cloud__chips">
        {{ range $tags.ByCount -}}
        <a class="silo-tag" href="{{ .Page.RelPermalink }}">
          <span>{{ .Page.LinkTitle }}</span><span class="silo-tag__count">{{ .Count }}</span>
        </a>
        {{ end -}}
      </div>
    </div>
  </div>
</div>
{{- end -}}
{{- end -}}
