{{- $title := .Get "title" -}}
{{- $link := .Get "link" -}}
{{- $image := .Get "image" -}}
{{- $alt := .Get "alt" | default $title -}}
{{- if $link -}}
<a class="silo-doc-card" href="{{ $link | safeURL }}">
{{- else -}}
<article class="silo-doc-card">
{{- end }}
  {{- with $image }}
    <img class="silo-doc-card__image" src="{{ . | safeURL }}" alt="{{ $alt }}" loading="lazy" decoding="async">
  {{- end }}
  <div class="silo-doc-card__body">
    {{- with $title }}<strong class="silo-doc-card__title">{{ . }}</strong>{{ end }}
    {{- with .InnerDeindent }}{{ . | markdownify }}{{ end }}
  </div>
{{- if $link -}}
</a>
{{- else -}}
</article>
{{- end -}}
